/* Colors */

$main: #ccc;
$secondary: yellow;
$selected: #eab96a;
$black: black;
$white: white;
$grey-soft: #adadad;
$grey-hard: #aaa;
$grey-dark: #222;

$grey-alpha: rgba(0, 0, 0, 0.2);
$black-alpha: rgba(0, 0, 0, 0.5);
$black-low-alpha: rgba(0, 0, 0, 0.99);
$white-alpha: rgba(256, 256, 256, 0.2);
$white-low-alpha: rgba(256, 256, 256, 0.85);
$shadow: rgba(100, 100, 100, 0.1);
